<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
        <div class="container">
            <div>
            <h1>Let's start <span>getting a little</span> more fancey!!</h1>
            <img src=" {{ url_for('static',filename='images/boradwalk3.jpg') }}"  alt='blog header image' ">          
            </div>

            <div class="column">
                <div class="col col-1"><h2>第一篇文章</h2>
                    新竹高工學生葉麗娟是今年總統教育獎得主，也是全國高級中等學校工科學生技藝競賽機械製圖第一名。教育部國教署說，葉麗娟來自家庭經濟狀況不佳的高風險家庭，母親打零工維持家計，她在夜校半工半讀。葉麗娟曾為減輕家中負擔，三餐都吃高麗菜，雖然辛苦，但學業表現未受影響。</div>
                <div class="col col-2"><h2>第二篇文章</h2>
                    葉麗娟的爸爸是水泥工、媽媽是清潔工，她國中時期最害怕家裡的電鈴聲與敲門聲隨著要債上門。為了省錢，常吃便利商店的即期品及便宜的高麗菜果腹。但老師曾告訴她：「家庭背景無法選擇，但未來是可以被改變的，要好要壞，取決於現在的自己。」麗娟想考上大學擴大自己的視野，找一份工作減輕媽媽的負擔，所以比別人更努力。鎖定自我人生目標後，她日以繼夜勤奮練習，有時還因為要在醫院照顧祖母而中斷。麗娟想考上大學擴大自己的視野，找一份工作減輕媽媽的負擔，所以比別人更努力。鎖定自我人生目標後，她日以繼夜勤奮練習，有時還因為要在醫院照顧祖母而中斷。麗娟想考上大學擴大自己的視野，找一份工作減輕媽媽的負擔，所以比別人更努力。鎖定自我人生目標後，她日以繼夜勤奮練習，有時還因為要在醫院照顧祖母而中斷。</div>
                <div class="col col-1 right-col"><p>右側文章第一篇</p>葉麗娟想考上大學擴大自己的視野，找一份工作減輕媽媽的負擔，所以比別人更努力。鎖定自我人生目標後，她日以繼夜勤奮練習，有時還因為要在醫院照顧祖母而中斷。</div>
            </div>

            <div class="column">
                <div class="col col-3"><h2>第三篇</h2>「以前的特殊選才不靠譜。」成大資工系教授蘇文鈺說，過去特殊選才管道進來的學生，不見得每個都有資訊能力、專長。可能因為書審資料「很好看」，但入學後才發現學生原來不會寫程式，甚至「程式設計」被當，可見坊間對付這些入學方法的招數不少。今年改以現場實作方式考試，考試時間至少8小時，考生必須安裝系統和套件、撰寫程式等，最後有5分鐘口試。</div>
                <div class="col col-1 right-col"><p>右側文章第二篇</p>成大教務長王育民表示，過去部分大學資工系會採用APCS（大學程式設計先修檢測）作為篩選學生的依據之一，但成大資工系發現在APCS拿到好成績的學生，未必和寫程式語言的能力畫上等號。由於APCS有些固定題目，如果練習到精熟，就能通過檢測，但未必代表真的具有解決資訊相關問題的能力。</div>
            </div>
        </div>
</body>
</html>
